@charset "UTF-8";


        body{
            background-color: rgb(226, 162, 139);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1{
            color: chocolate;
            background-color: darkred;
        }

        h2{
            color: chocolate;
        }
        
        p{
            text-align: justify;
        }

