@charset "UTF-8"


* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right,#1A6566, #5D8A66);
}

main {
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #32305086;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #323050;
    text-align: center;
    text-shadow: 1px 1px 2px #272355;
}

h2 {
    color: #21445B;
}

p {
    text-align: justify;
}